################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/BasicSkills/FileContentIndex
/BasicSkills/obj/Debug/net8.0
/.vs/BasicSkills/FileContentIndex/0df68873-e8a7-41ea-86df-a04b8541f714.vsidx
/.vs/BasicSkills/FileContentIndex/74d15398-ae46-4227-808a-01856ec05563.vsidx
/.vs/BasicSkills/FileContentIndex/8d046095-49a1-443b-8fc9-44faa04cbdd9.vsidx
/.vs/BasicSkills/FileContentIndex/ce24185f-a1d3-45a1-ac51-3fb2a094b124.vsidx
/.vs/BasicSkills/FileContentIndex/e5f4c5c7-2a69-4191-88b9-f65725c3a876.vsidx
/.vs/BasicSkills/v17/.futdcache.v2
/.vs/BasicSkills/v17/.suo
/.vs/ProjectEvaluation/basicskills.metadata.v7.bin
/.vs/ProjectEvaluation/basicskills.projects.v7.bin
/BasicSkills/bin/Debug/net8.0/BasicSkills.dll
/BasicSkills/bin/Debug/net8.0/BasicSkills.exe
/BasicSkills/bin/Debug/net8.0/BasicSkills.pdb
/BasicSkills/obj/Debug/net8.0/apphost.exe
/BasicSkills/obj/Debug/net8.0/BasicSkills.AssemblyInfo.cs
/BasicSkills/obj/Debug/net8.0/BasicSkills.AssemblyInfoInputs.cache
/BasicSkills/obj/Debug/net8.0/BasicSkills.csproj.CoreCompileInputs.cache
/BasicSkills/obj/Debug/net8.0/BasicSkills.csproj.FileListAbsolute.txt
/BasicSkills/obj/Debug/net8.0/BasicSkills.dll
/BasicSkills/obj/Debug/net8.0/BasicSkills.pdb
/BasicSkills/obj/Debug/net8.0/ref/BasicSkills.dll
/BasicSkills/obj/Debug/net8.0/refint/BasicSkills.dll
/.vs/BasicSkills/DesignTimeBuild/.dtbcache.v2
